.carCardList {
  display: flex;
  padding-left: 0;
  flex-wrap: wrap;

  list-style: none;
  align-items: center;
  justify-content: center;

  column-gap: 32px;
  row-gap: 48px;
  margin-left: auto;
  margin-right: auto;
}
