:root {
  --font-family: "Manrope", sans-serif;
  --second-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  font-family: var(--font-family);
}
